doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title OTP Verification
  body
    h1 OTP Verification
    p Your OTP code is: #{otp}